@import 'scss/variables/_colors';

.app-nav {
  text-align: center;
  border-top: 8px solid $cerulean;
  border-style: outset none;
}

.app-header {
  background-color: #282C34;
  border-top: 8px solid $cerulean;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: calc(10px + 2vmin);
  margin-bottom: calc(30px + 2vmin);
  color: #FFF;
}

.app-link {
  font-size: calc(10px + 2vmin);
  color: #61DAFB;
  text-decoration: underline;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
